/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  transition: background 0.3s ease-in-out;
}

/* navbar styling */

.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background 0.3s ease-in-out;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
}

.navbar_links:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #fff;
  }

  .navbar_menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 5;
    height: 50vh;
    font-size: 1.6rem;
    padding: 25px;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero section */

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.container {
  min-height: 100vh;
}

.weather_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.weather_search {
  margin: 2rem 0;
}

.weather_searchbox {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search_content {
  width: 100%;
}

.search_content {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid rgba(112, 144, 176, 0.5);
  border-radius: 1.2rem;
  margin: 1.6rem;
  width: 200px;
}

.search_content::placeholder {
  color: #000;
  opacity: 0.9;
}

.weather_result {
  margin-top: 4rem;
}

#weather {
  margin: 2rem 0;
}

.weather_item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px 3px rgba(112, 144, 176, 0.3);
  margin: 2rem 0;
  background: #fff;
  border: 1px solid rgba(112, 144, 176, 0.3);
}

.weather_img {
  display: block;
}

.weather_img img {
  width: 150px;
  height: 150px;
  margin-top: 0.5rem;
}

.weather_name {
  padding: 1.5rem 0.5rem;
  background: #fff;
}

.weather_name h3 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 1rem;
}

.weather_name ul {
  text-align: left;
  font-size: 1rem;
  margin-left: 1rem;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  #weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .weather_item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    row-gap: 3rem;
  }

  .weather_item {
    margin: 0;
  }

  .weather_details {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  #weather {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
    row-gap: 3rem;
  }
}

/* CHRISTOFFER FOOTER CSS */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  background-color: #f6f9fb;
}

.links-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.link-images-container {
  display: flex;
  gap: 15px;
  margin-right: 85px;
}

.copyright-text {
  margin-left: 150px;
}
