/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  transition: background 0.3s ease-in-out;
}

/* navbar styling */

.navbar {
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background 0.3s ease-in-out;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
}

.navbar_links:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #fff;
  }

  .navbar_menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 5;
    height: 50vh;
    font-size: 1.6rem;
    padding: 25px;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero section */

.btn {
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.container {
  min-height: 100vh;
}

.weather_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  text-align: center;
  transition: background 0.3s ease-in-out;
}

.weather_search {
  margin: 2rem 0;
}

.weather_searchbox {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search_content {
  width: 100%;
}

.search_content {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid rgba(112, 144, 176, 0.5);
  border-radius: 1.2rem;
  margin: 1.6rem;
  width: 200px;
}

.search_content::placeholder {
  color: #000;
  opacity: 0.9;
}

.weather_result {
  margin-top: 4rem;
}

#weather {
  margin: 2rem 0;
}

.weather_item {
  color: black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px 3px rgba(112, 144, 176, 0.3);
  margin: 2rem 0;
  background: #fff;
  border: 1px solid rgba(112, 144, 176, 0.3);
  cursor: pointer;
}

.weather_item:hover {
  scale: 1.02;
  transition: .3s ease-in-out;
}

.weather_img {
  display: block;
}

.weather_img img {
  width: 150px;
  height: 150px;
  margin-top: 0.5rem;
}

.weather_name {
  padding: 1.5rem 0.5rem;
  background: #fff;
}

.weather_name h3 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000;
  margin-bottom: 1rem;
}

.weather_name ul {
  text-align: left;
  font-size: 1rem;
  margin-left: 1rem;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  #weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .weather_item {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    row-gap: 3rem;
  }

  .weather_item {
    margin: 0;
  }

  .weather_details {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  #weather {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
    row-gap: 3rem;
  }
}

/* card styling */

.showWeather {
  display: block;
}

.weather_title {
  letter-spacing: 1px;
  margin: 1rem;
}

.weather_details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background: #fff;
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
  text-align: center;
}

.weather_details_content {
  margin: 2rem;
}

.weather_description {
  padding: 1rem 0;
}

.weather_btn {
  text-decoration: none;
  color: #fff;
  background: #000;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  width: 150px;
  margin: 1rem auto;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

.weather_btn:hover {
  opacity: .9;
  transition: .3s ease-in-out;
}

.weather_close_btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.2rem;
  background: #fff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .9;
  cursor: pointer;
}

/* CHRISTOFFER FOOTER CSS */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  background-color: #f6f9fb;
}

.links-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.link-images-container {
  display: flex;
  gap: 15px;
  margin-right: 85px;
}

.copyright-text {
  margin-left: 150px;
}

/* contact page */

.contact-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-radius: 20px;
  background-color: #f6f9fb;
  padding: 50px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type=submit] {
  width: auto;
  background-color: #000000;
  color: white;
  padding: 14px 40px;
  margin-top: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

input[type=submit]:hover {
  transition: .3s ease-in-out;
  background: #45a049;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

/* animated icons */

:root {
  --color-sun: #EDC951;
  --color-cloud: #00A0B0;
  --color-cloud-light: #00cee3;
  --color-cloud-dark: #008997;
  --color-rain-cloud: #666;
  --color-rain-cloud-light: #999;
  --color-rain-cloud-dark: #555;
  --color-snow-cloud: #CCC;
  --color-main-background: #222;
  --color-rainbow-red: #BD1E52;
  --color-rainbow-orange: #E88024;
  --color-rainbow-yellow: #F8CB10;
  --color-rainbow-green: #899C3B;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.div-icons {
  position: absolute;
  display: block;
  width: 620px;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  margin: 15px 25px;
  width: 100px;
  height: 100px;
}

.sunny-body path {
  fill: var(--color-sun);
}

.sunny-long-ray {
  transform-origin: 50% 50%;
  animation: spin 9s linear infinite;
}

.sunny-long-ray path {
  fill: var(--color-sun);
}

.sunny-short-ray {
  transform-origin: 50% 50%;
  animation: spin 9s linear infinite;
}

.sunny-short-ray path {
  fill: var(--color-sun);
}

.cloud-offset path {
  /* fill: var(--color-main-background); */
  fill: #fff;
}

.main-cloud path {
  fill: var(--color-cloud);
}

.small-cloud path {
  fill: var(--color-cloud);
  animation: flyby 6s linear infinite;
}

.rain-cloud path {
  fill: var(--color-cloud);
  animation: rain-cloud-color 6s ease infinite;
}

.rain-drops path {
  fill: var(--color-cloud);
  opacity: 0;
}

.rain-drops path:nth-child(1) {
  animation: rain-drop 1.2s linear infinite;
}

.rain-drops path:nth-child(2) {
  animation: rain-drop 1.2s linear infinite 0.4s;
}

.rain-drops path:nth-child(3) {
  animation: rain-drop 1.2s linear infinite 0.8s;
}

.snow-cloud path {
  fill: var(--color-snow-cloud);
}

.snowflakes path {
  transform-origin: 50% 50%;
  fill: var(--color-snow-cloud);
  opacity: 0;
}

.snowflakes path:nth-child(1) {
  animation: snow-drop 1.2s linear infinite;
}

.snowflakes path:nth-child(2) {
  animation: snow-drop 1.2s linear infinite 0.4s;
}

.snowflakes path:nth-child(3) {
  animation: snow-drop 1.2s linear infinite 0.8s;
}

.wind-string path {
  stroke: var(--color-snow-cloud);
  stroke-linecap: round;
  stroke-width: 7px;
  animation: wind-blow 3s linear infinite;
}

.rainbows path {
  stroke-linecap: round;
  animation: rainbow 4.5s linear infinite;
}

.rainbows path:nth-child(1) {
  stroke: var(--color-rainbow-red);
  stroke-width: 6px;
}

.rainbows path:nth-child(2) {
  stroke: var(--color-rainbow-orange);
  stroke-width: 8px;
}

.rainbows path:nth-child(3) {
  stroke: var(--color-rainbow-yellow);
  stroke-width: 6px;
}

.rainbows path:nth-child(4) {
  stroke: var(--color-rainbow-green);
  stroke-width: 14px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes flyby {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translate(39px, 0px);
    transform: translate(39px, 0px);
    opacity: 1;
  }

  70% {
    -webkit-transform: translate(91px, 0px);
    transform: translate(91px, 0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(130px, 0px);
    transform: translate(130px, 0px);
    opacity: 0;
  }
}

@keyframes rain-cloud-color {

  100%,
  0% {
    fill: var(--color-rain-cloud);
  }

  20% {
    fill: var(--color-rain-cloud-dark);
  }

  21.5% {
    fill: var(--color-rain-cloud-light);
  }

  25% {
    fill: var(--color-rain-cloud-dark);
  }

  27.5% {
    fill: var(--color-rain-cloud-light);
  }

  30% {
    fill: var(--color-rain-cloud-dark);
  }

  40% {
    fill: var(--color-rain-cloud-light);
  }

  90% {
    fill: var(--color-rain-cloud-dark);
  }
}

@keyframes rain-drop {
  0% {
    -webkit-transform: translate(0px, -60px);
    transform: translate(0px, -60px);
    opacity: 0;
  }

  30% {
    -webkit-transform: translate(0px, -36px);
    transform: translate(0px, -36px);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0px, 4px);
    transform: translate(0px, 4px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    -webkit-transform: translate(0px, -60px) rotate(0deg);
    transform: translate(0px, -60px) rotate(0deg);
    opacity: 0;
  }

  30% {
    -webkit-transform: translate(0px, -36px) rotate(108deg);
    transform: translate(0px, -36px) rotate(108deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0px, 4px) rotate(288deg);
    transform: translate(0px, 4px) rotate(288deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0px, 20px) rotate(360deg);
    transform: translate(0px, 20px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes wind-blow {
  0% {
    stroke-dasharray: 5 300;
    stroke-dashoffset: -200;
    opacity: 1;
  }

  50% {
    stroke-dasharray: 300 300;
    stroke-dashoffset: -100;
    opacity: 1;
  }

  90% {
    stroke-dasharray: 50 300;
    stroke-dashoffset: -20;
    opacity: 0.7;
  }

  100% {
    stroke-dasharray: 20 300;
    stroke-dashoffset: 0;
    opacity: 0.2;
  }
}

@keyframes rainbow {
  0% {
    stroke-dasharray: 10 210;
    stroke-dashoffset: 0;
    opacity: 0;
  }

  30% {
    stroke-dasharray: 210 210;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  70% {
    stroke-dasharray: 210 210;
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    stroke-dasharray: 0 210;
    stroke-dashoffset: -210;
    opacity: 0;
  }
}
